/* NavBar.css */
body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Simple dark gray background */
  padding: 15px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo .logo {
  max-height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.nav-links li {
  font-size: 18px;
}

.nav-links a {
  color: #fff; /* White text color */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FFD700; /* Gold color on hover */
}

.cta-button {
  background-color: #FF6F61;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(255, 111, 97, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #E65550;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    display: none; /* Hidden initially for mobile */
  }
  
  .navbar {
    flex-direction: column;
  }

  .navbar-cta {
    margin-top: 10px;
  }

}
.welcome-message{
  color:whitesmoke;
}
